:root {
    --primary-header-color: #FFFFFF;
    --second-primary-color: #212121;
    --logo-color-button:  #2196F3;
    --color-p-text: #757575;
}
body{
    color: var(--primary-header-color);
    font-family: "Roboto", 'Raleway', "Open Sans", Verdana, sans-serif;
    list-style-type: none;
    letter-spacing: 3%;
    line-height: 24px;
    font-size: 16px;
}
link {
    text-decoration: none;
    list-style: none
}
.list {
    list-style: none;
    
}
li, ul, h1, h2, a {
    text-decoration: none;
    list-style: none
}

/*--------------HEADER------------------- */
.header{
    background-color: var(--primary-header-color);
}
.header-logo {
    color: var(--second-primary-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.color-logo {
    color: var(--logo-color-button);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-primary-color);
}
.address-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-p-text);
}
.address-link:hover,
.header-link:hover {
   color: var(--logo-color-button);
}
/* -------------hero---------------- */

.hero {
    background-color: #2F303A;
}
.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-header-color);
}
.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-header-color);
    cursor: pointer;
    background: #2196F3;
}
------------------HERO_TOPIC_---------- */
.main-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-primary-color);
}
.second-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-p-text);
}
/* -----------------What we are do------------ */
.about-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-primary-color);
}

/* --------------------Our TEAM--------- */
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-primary-color);
}
.team-list {

}
.team-items {


}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-primary-color);
}
.team-pre-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-p-text);
}

/* ------------------------ФУТер ------------ */
address-list, a {
    font-style: normal;
}
address-list, a:hover {
    color: var(--logo-color-button);
}
.logo-footer{
    color: var(--logo-color-button);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-logo {
    color: var(--primary-header-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-block {
 background-color: #2F303A;
}
.footer-link-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0;

}
/* ----------------------------Portfolio-------------------------- */
.button-portfolio {
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-family: inherit;
    padding: 6px 22px;
    margin: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

}
.button-portfolio:hover {
    color: var(--primary-header-color);
    background-color: var(--logo-color-button);
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-pre-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}


